<div class="container">
  <div class="row">
 <div class="col">

 </div>
 <div class="col">
   <div>
     <label>Title</label>
   </div>
   <div>
     <input type="text" name="title" [(ngModel)]="title">
   </div>
   <div>
     <label>Status</label>
   </div>
   <div>
     <input type="text" name="status" [(ngModel)]="status">
   </div>
   <div>
      <label>Reporter</label>
    </div>
    <div>
      <input type="text" name="reporter" [(ngModel)]="reporter">
    </div>
   <div><button class="btn btn-primary" (click)="taskcreate()">Create</button></div>
   <br>
   <br>

   
  </div>
  <div class="col">
      
    </div>
  </div>
</div>