<div class="container ">
<div class="row jumbotron">
  <div class="col-sm-12 col-md-4 col-lg-4">

  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">

      <div>

          <div>
            <label>Email</label>
            <div>
                <input type="text" name="email" [(ngModel)]="email">
      
            </div>
          </div>
          <div>
            <label>Password</label>
            <div>
                <input type="password" name="password" [(ngModel)]="password">
      
            </div>
          </div>
          <br>
          <div>
              <button type="button" class="btn btn-outline-primary" (click)="login()">Login</button>
             
          </div>
           <div>
            <span style="color:black">not registerd!</span>
            <br>

             <button type="button" class="btn btn-outline-secondary" (click)="registerbutton()">Register</button>
           </div>

        </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">

    </div>

</div>



  
</div>